<!DOCTYPE html>
<html>
    <head>
        
    </head>

    <body>
        <form method="POST">
            <label>Select currency: </label>
                <select name="currency" id="currency">
                    {% for currency in currencies %}
                        <option value="{{currency}}">{{currency}}</option>
                    {% endfor %}
                </select>

            <input type="submit" value="Submit">
        </form>

        {% if selected_currency != "NULL" %}
            <div>
                {{selected_currency}}
            </div>

            {% for exchange in rates[0].keys() %}
                <div>
                    {{exchange}}:  
                    buy = <span id="{{exchange}}_{{selected_currency}}_BUY">{{rates[0][exchange]}}</span>
                    sell = <span id="{{exchange}}_{{selected_currency}}_SELL">{{rates[1][exchange]}}</span>
                </div>
            {% endfor %}
        {% endif %}

        <script src="{{ url_for('static', filename='socketio.js') }}"></script>
        <script>
            const socket = io({autoConnect: true});

            socket.on("update_rates", function(json) {
                exchange = json.exchange
                rates = json.rates;
                for (var currency in data) {
                    try {
                        document.getElementById(`${exchange}_${currency}`).textContent = rates[currency];
                    } catch(err) {}
                }
            });
        </script>
    </body>
</html>